<table class="table">
  <% study_comments.each do |study_comment| %>
    <tr>
      <td class="d-flex mb-3 mr-2">
        <div class="icon mr-3">
          <% if study_comment.user.profile_image.attached? %>
            <%= image_tag study_comment.user.get_profile_image(70, 70), class: "img-fluid user-image" %>
          <% else %>
            <i class="fa-regular fa-circle-user"></i>
          <% end %>
        </div>
        <div class="flex-column">
          <div class="text-size"><%= study_comment.user.name %></div>
          <div class="text-size break-word"><%= study_comment.comment %></div>
        </div>
        <div class="ml-auto text-size">
          <%= link_to '削除', admin_study_comment_path(study_comment), method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: "btn btn-danger" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
