<table class="table table-hover">
  <% studies.each do |study| %>
    <tr onclick="location.href='<%= study_path(study) %>'" style="cursor:pointer;">
      <td class="col-md-1">
        <%= render 'public/studies/study_icon', study: study %>
      </td>
      <td>
        <table class="table-borderless">
          <tr class="no-hover">
            <td><%= study.title %></td>
          </tr>
          <tr class="no-hover">
            <td>
              <i class="fa-regular fa-user"></i>
              <%#= user %>
              <!--ユーザー数-->
            </td>
            <td>
              <i class="fa-regular fa-comment"></i>
              <%#= study.review.count %>
              <!--レビュー数-->
            </td>
            <td>
              <%#= render 'public/favorites/favorite', study: study %>
              <!--レビューのいいね数-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
</table>
