<table class="table">
  <% studies.each do |study| %>
    <tr>
      <td class="col-md-1">
        <%= render 'public/studies/study_icon', study: study %>
      </td>
      <td>
        <table class="table-borderless">
          <tr>
            <td><%= study.title %></td>
          </tr>
          <tr>
            <td>
              <i class="fa-regular fa-user"></i>
              <%#= %>
            </td>
            <td>
              <i class="fa-regular fa-comment"></i>
              <%= study.study_comments.count %>
            </td>
            <td>
              <%= render 'public/favorites/favorite', study: study %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <% end %>
</table>
