<table class='table'>
  <tr>
    <th>マイページ</th>
  </tr>
  <tr>
    <th>記録する</th>
  </tr>
  <tr>
    <th>ユーザーを探す</th>
  </tr>
  <tr>
    <th>通知一知覧</th>
  </tr>
  <tr>
    <th>メッセージ一覧</th>
  </tr>
  <tr>
    <th>教材を探す</th>
  </tr>
</table>

