<div class="icon d-flex justify-content-end">
  <% if study.image.attached? %>
    <%= link_to study_path(study) do %>
      <%= image_tag study.get_image(70, 70), class: "img-fluid" %>
    <% end %>
  <% else %>
    <%= link_to study_path(study) do %>
      <i class="fa-solid fa-book"></i>
    <% end %>
  <% end %>
</div>