<%= render 'layouts/errors', obj: @record %>
<h2 class="pt-3">記録の編集</h2>
<div class="d-flex align-items-center pt-2">
  <%= render "public/studies/study_icon", study: @study %>
  <span class="pl-2 break-word"><%= @study.title %></span>
</div>
<%= render 'public/records/form', record: @record, study: @study %>