<%= form_with model: @review, url: @review.persisted? ? study_study_review_path(@review) : study_study_reviews_path, method: @review.persisted? ? :patch : :post, local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "レビュータイトルを入力(30文字まで)", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "気に入ったポイントやどんな人にオススメしたいか、自分なりの使い方と勉強法、類似教材との比較などについて書いてみましょう。", class: "form-control height" %>
  </div>
  <div class="form-group text-center">
    <%= f.submit '投稿', class: "btn btn-secondary" %>
  </div>
<% end %>