<div class="text-size-md pt-3">
  <i class="fa-regular fa-comment"></i>
  <span class="pl-1">コメント　(</span>
  <%= record.study_comments.count %>
  <span>件)</span>
</div>

<div>
  <%= render 'public/study_comments/index', record: record %>
</div>

<div class="pt-3">
  <%= render 'public/study_comments/form', record: record, study_comment: study_comment %>
</div>