<div class="comment-count text-size-md pt-3">
  <%= render 'public/study_comments/count', record: record %>
</div>

<div class="comment-index">
  <%= render 'public/study_comments/index', record: record %>
</div>

<div class="pt-3">
  <%= render 'public/study_comments/form', study: study, record: record, study_comment: study_comment %>
</div>