<%= form_with(model: [study, record, study_comment], local: false) do |f| %>
<div class="d-flex align-items-center">
  <%= f.text_area :comment, rows:"2",placeholder: "コメント", class: "w-75 comment-textarea" %>

  <span class="ml-3"><%= f.submit "送信" %></span>
</div>
<% end %>