<table class="table table-hover">
  <% tags.each do |tag| %>
    <tr onclick="location.href='<%= edit_tag_path(tag) %>'" style="cursor:pointer;">
      <td class="break-word">
        <%= tag.name %>
      </td>
    </tr>
  <% end %>
</table>