<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5">カテゴリ一覧</h2>
</div>
<div class="text-center pb-3">
  <%= link_to "新たにカテゴリを作成", new_tag_path, class: "btn btn-light border-dark" %>
</div>
<%= render 'public/tags/index', tags: @tags %>