/*============
main
=============*/
.text-size-sm {
  font-size: 10px;
}

.text-size {
  font-size: 15px;
}

.text-size-md {
  font-size: 25px;
}

.text-size-lg {
  font-size: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: #000000;
  background: #e4e4e4;
  display: inline-block;
}

.height {
  height: 100px;
}

.form-control.height::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; /* 適切なパディングを設定してください */
  font-size: 14px; /* 適切なフォントサイズを設定してください */
  color: #a0a0a0; /* プレースホルダーの色を設定してください */
}



.side-line {
  display: inline-block;
  margin-right: 10px;
}

.user-icon {
  font-size: 25px;
}

.no-hover td {
  pointer-events: none;
}






