<table class="table table-hover">
  <% users.each do |user| %>
    <tr onclick="location.href='<%= admin_user_path(user) %>' "style="cursor:pointer;">
      <td class="d-flex mb-3 mr-2">
        <div class="icon mr-3">
          <% if user.profile_image.attached? %>
            <%= image_tag user.get_profile_image(70, 70), class: "img-fluid user-image" %>
          <% else %>
            <i class="fa-regular fa-circle-user"></i>
          <% end %>
        </div>
        <div class="dflex flex-column">
          <div class="text-size"><%= user.name %></div>
          <div class="text-size"><%= user.introduction %></div>
        </div>
      </td>
    </tr>
  <% end %>
</table>