<%= render 'layouts/errors', obj: @user %>
<div class="d-flex align-items-center">
  <%= render 'layouts/back' %>
  <h2 class="pl-5">会員ステータスを更新</h2>
</div>
<%= render 'admin/users/from', user: @user %>