<div class="d-flex align-items-center">
  <h2 class="pt-3">通知</h2>
</div>
<table class="table w-100 table-hover">
  <% if @unread_notifications.any? %>
    <% @unread_notifications.each do |notification| %>
      <tr>
        <td>

          <% if notification.user&.present? %>
            <%= link_to notification.message, notification, method: :patch, class: "dropdown-item" %>
          <% end %>

        </td>
        <td><%= notification.created_at.strftime('%m月%d日 %H:%M') %></td>
      </tr>
    <% end %>
  <% end %>
</table>

