<div class="comment-count text-size-md pt-3">
  <%= render 'public/review_comments/count', study_review: study_review %>
</div>

<div class="comment-index">
  <%= render 'public/review_comments/index', study_review: study_review %>
</div>

<div class="pt-3">
  <%= render 'public/review_comments/form', study: study, study_review: study_review, review_comment: review_comment %>
</div>