<div class="text-size-md pt-3">
  <i class="fa-regular fa-comment"></i>
  <span class="pl-1">コメント　(</span>
  <%= review.review_comments.count %>
  <span>件)</span>
</div>

<div>
  <%= render 'public/review_comments/index', study_review: review %>
</div>