<table class="table w-100">
  <% users.each do |user| %>
    <tr>
      <td class="col-md-1 mb-3">
        <%= render 'public/users/user_icon', user: user %>
      </td>
      <td class="col-md-7">
        <div class="text-size"><%= user.name %></div>
        <div class="text-size"><%= user.introduction %></div>
      </td>
      <td class="text-right align-bottom">
        <div>
          <%#= link_to 'フォローする', edit_user_path(user), class: "btn btn-secondary" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>