<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul class="list-unstyled alert alert-danger mt-2">
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>